{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "effector"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:effector/recommended",
    "plugin:effector/react",
    "plugin:effector/scope"
  ],
  "ignorePatterns": [
    "node_modules/",
    "dist/",
    "*.js"
  ]
}